@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
.cart{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    border-radius: 25px;
    box-shadow: 5px 5px 0px $Four;
    width: 750px;
    justify-content:space-between;

}
.cimage{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px $Third;
}
.tozih{
    display: flex;
    

    h2{
        margin-left: 24px;
        display: flex; 
        align-items: center; 
        justify-content: center;
        font-family: 'Dancing Script', cursive;
        color: $Four;
        padding-top: 5px;
    }
    p{
        margin-left: 50px;
        display: flex; 
        align-items: center; 
        justify-content: center;
        font-size:18px;
        font-weight: 650;
        color: $Second;
        padding-top: 10px;
    }
}
.tedad{
    span{
        position: relative;
        margin-left: 50px;
        display: flex; 
        align-items: center; 
        justify-content: center;
        font-size:24px;
        font-weight: bold;
        top: 65px;
        color: $Four;
        border-bottom: 2px solid $Third;
    }
}
.count{
    position: relative;
    margin-left: 50px;
    display: flex; 
    align-items: center; 
    font-size:18px;
    margin-right: 10px;


    button{
     width: 50px;
     height: 25px;
     border-radius: 25px;
     border: none;
     background-color: $Third;
     color: $First;
     font-size: 22px;
     margin-left: 10px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.423);

     &:hover{
        background-color:$Four;
        color: $Third;
     }
    
    }
}
.trash{
    position: relative !important;
    top: 3px !important;
    background-color: $First !important;
    border-radius: 0px !important ;
    margin-right: 5px !important;
    box-shadow: none !important;
    width: fit-content !important;
    height: fit-content !important;
    
    img{
        width: 30px !important;
        height: 30px !important;
    }
}


//responsive400
@media(max-width: 400px){
    .cart{
        position: relative;
        margin-left: 0px !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
        box-shadow: 0px 5px 0px $Four;

        .cimage{
            width: 50%;
            height: 50%;
            box-shadow: 0px 5px 20px $Third;
        }
        .tozih{
            justify-content: space-around;
            width: 98%;
            h2{
             margin-left: 0px;
             font-size: 24px;
             padding-top: 10px;
            }
        }
    .count{
        width: 90%;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        button{
            
            width: 50px;
            height: 50px;
            margin-left: 0px;
            font-size: 30px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .tedad{
        margin-left: 0px;
        span{
        position: relative;
        margin-left: 0px;
        top: 0px;
        font-size: 24px;
    }
        

        
    }
    .trash{
      img{
        width: 70% !important;
        height: 70% !important;
      }
    }    
    }
    
}