@import "Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import '@fontsource/ysabeau';
.navbar{
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 40px;
  background-color:$First;
  display: flex;
  justify-content: space-between;
  color: $Four;
  border-bottom: 2px solid $Five;
  font-family: 'Ysabeau Office', sans-serif;
}
.navbar-item {     
    display: flex;
    text-align: center;
    align-items: center;
    cursor:not-allowed;
  
    h1 {
      font-size:30px;
      margin-left: 20px;
      font-family: 'Dancing Script', cursive;
   
    }  
    img {
      height: 40px;
      width: auto;
      -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
      animation: heartbeat 1.5s ease-in-out infinite both;  
    }
   
  }

  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }




.navbar-item2{

        display: flex;
        align-items: center;

        

        a{
         margin-right: 30px;
         display: flex;
         cursor: pointer;
         img{
                position: relative;
                height: 35px;
                background-color: $Third;
                border-radius: 25%;

                &:hover {
                        box-shadow: 0 0 5px $Third,
                                    0 0 25px $Third,
                                    0 0 50px $Third,
                                    0 0 100px $Third;
                      }
         }
         .cn{
                position: relative;
                display: flex; 
                align-items: center; 
                justify-content: center;
                left: -15px;
                // top: -5px;
                z-index: 2;
                overflow: hidden;
                height: 20px;
                width: 20px;     
                font-size: 14px;
                background-color:$Third ;
                color:$Four ;
                border-radius: 20px;
              }
        }
        .shadow__btn {
                padding: 5px 20px;
                border: none;
                font-size: 17px;
                color: $Four;
                border-radius: 7px;
                letter-spacing: 4px;
                font-weight: bold;
                text-transform: uppercase;
                transition: 0.5s;
                transition-property: box-shadow;
                height: 30px;
                margin-right: 30px;
                cursor: pointer;
              }
              
              .shadow__btn {
                background: $Second;
                box-shadow: 0 0 25px $Second;
              }
              
              .shadow__btn:hover {
                box-shadow: 0 0 5px $Second,
                            0 0 25px $Second,
                            0 0 50px $Second,
                            0 0 100px $Second;
              }

              
}