@import "Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import '@fontsource/ysabeau';
.navbar{
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 40px;
  background-color:#fffffff1;
  display: flex;
  justify-content: space-between;
  color: $Second;
  border-bottom: 2px solid #393e4663;
  font-family: 'Ysabeau Office', sans-serif;
}
.navbar-item {     
    display: flex;
    text-align: center;
    align-items: center;
    cursor:not-allowed;
    margin-left: 50px;
    
  
    h1 {
      font-size:30px;
      margin-left: 20px;
      font-family: 'Dancing Script', cursive;
   
    }
    img{
      height: 30px;
      margin-left: 2px;
    }
   
  }

.navbar-item2{

        display: flex;
        align-items: center;
        margin-right: 50px;

        

        a{
         display: flex;
         cursor: pointer;
         img{
                position: relative;
                height: 35px;
                background-color: $Third;
                border-radius: 25%;

                &:hover {
                        box-shadow: 0 0 5px $Third,
                                    0 0 25px $Third,
                                    0 0 50px $Third,
                                    0 0 100px $Third;
                      }
         }
         .cn{
                position: relative;
                display: flex; 
                align-items: center; 
                justify-content: center;
                left: -15px;
                z-index: 2;
                overflow: hidden;
                height: 20px;
                width: 20px;     
                font-size: 14px;
                font-weight: bold;
                background-color:$Third ;
                color:$First;
                border-radius: 20px;
              }
        }
                
}

//responsive400

@media(max-width: 400px){

  .navbar{
    height: 30px;
    align-items: center;
    line-height: 30px;
    
  }

  .navbar-item{
    margin-left: 0px;
    h1{
      font-size: 24px;
    }
    img{
      height: 25px;
    }
  }
  .navbar-item2{
    height: 25px ;
    margin-right: 0px;


    a{
       img{
      height: 25px;
      margin-top: 3px;
    }

    .cn{
      z-index: 2;
      height: 15px;
      width: 15px;
      position: relativab;
      font-size: 12px;
      top: 2px;
      margin-left:6px;
      
    }
  }
  }
}