@import "./Variables.scss";
.container{
    display: flex;
    justify-content: space-between;
}
.shopcart{
    position: relative;
    top: 30px;
}
.total{
    position: relative;
    margin-top: 80px;
    margin-right: 50px;
    width: 700px;
    height: 300px;
    border: 2px solid $Third;
    align-items: center;
    border-radius: 25px;


    span{
        position: relative;
        top: 120px;
        left: 50px;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 3px solid $Third;
    }
}
.kharid{
    position: relative;
    top: 150px;
    right: 50px;
    height: fit-content;
    display: flex;
    justify-content: end;
    button{
        width: 100px;
        height: 50px;
        margin-right: 30px;
        background-color: $Third;
        color: $First;
        font-size: 18px;
        font-weight: bold;
        border-radius: 25px;
        border:none;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.423);

        &:hover{
            background-color:$Four;
            color: $First;
        }
    }
}
.checkout , .clear{
    position: relative;
    top:300px;
    width: 100%;
    height: 200px;
    

    h3{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      width: 100%;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        font-size: 24px;
        font-weight: bold;
    }
}

//responsive400
@media(max-width:400px){
    .container{
        margin-top: 20px;
        justify-content: center ;
        align-items: center;
        
    
    }
    .shopcart{
        width: 98%;
        height: 100%;
    }
    .total{
        width: 98%;
        height: 200px;
        position: relative;
        margin-top: 50px;
        margin-right: 0px;
        border-radius: 25%;
        justify-content: center;
        align-items: center;
        
        span{
            font-size: 20px;
            position: relative;
            top: 50px;
            left: 20px;
        }
        .kharid{
            right: 0px;
            margin-right: 0px;
            justify-content: space-evenly;
            height: 25px;
            top: 100px;
            button{
                position: relative;
                width: 100px;
                height: 25px;
                font-size: 18px;
                margin-right: 0px;
                box-shadow: none;
            }
        }
        
    }
    .checkout{
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;

        h3{
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 20px !important;
        }
    }

}
@media(max-width: 768px){
    .container{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        .total{
            width: 98%;
            margin-top: 50px;
            margin-right: 0px;
        }
    }

}