@import "Variables.scss";
@import '@fontsource/ysabeau';

.store{
  position: relative;
  background-color: $First;
  top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  display: flex;

}

//responsive400
@media(max-width: 400px){
  .store{
   position: relative;
   justify-content: center;
   align-items: center;
  }
}

